a:active,a:focus {
outline: none;
}
.display-none{
    display: none
}

.logo-container .logo{
    overflow: hidden;
    border-radius: 10%;
    width: 100px;
    height: 100px;
    float: left;
    margin-top: -25px;
}

.logo-container .brand{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}
.logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img{
    width: 100%;
}